.header-block__logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #440f48;
    text-transform: uppercase;
}

.datetime{
    text-align: center;
    font-size: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #440f48;

    background: linear-gradient(to right, rgba(209, 135, 255, 0), rgba(209, 135, 255, 1));
    border-radius: 0 30px 30px 0;
    box-sizing: border-box;
    padding-top: 5px;

    &__time{
        width: 40%;
        justify-self: center;

        box-sizing: border-box;
        padding: 15px;
    }
}
