.header-block__logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #440f48;
    text-transform: uppercase;
}

.datetime{
    width: 24vw;
    text-align: right;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #440f48;

    padding: 15px;

    background-color: transparent;
    box-shadow: 0 0 15px #4e4e4e46;
    border-radius: 30px;
    box-sizing: border-box;
    justify-self: end;

    &__time{
        width: 40%;
        text-align: right;

        box-sizing: border-box;
    }
}

@media(max-width: 1540px) {
    .datetime{
        width: 30vw;
    }
}

@media(max-width: 1180px) {
    .datetime{
        width: 35vw;
    }
}

@media(max-width: 990px) {
    .datetime{
        width: 50vw;
    }
}

@media(max-width: 745px) {
    .datetime{
        width: 50vw;
    }
}

@media(max-width: 745px) {
    .header-block__logo{
        justify-self: center;
        margin-top: 10px;
    }

    .datetime{
        justify-self: center;
        width: 80%;
    }
}

@media(max-width: 550px) {
    .datetime{
        width: 100%;
        font-size: 18px;
    }
}