.header-block__logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #440f48;
    text-transform: uppercase;
}

.datetime{
    width: 80%;
    text-align: right;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #440f48;

    // background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.271));
    background-color: rgba(0, 0, 0, 0.271);
    border-radius: 30px;
    box-sizing: border-box;
    padding-top: 5px;

    &__time{
        width: 40%;
        text-align: right;

        box-sizing: border-box;
        padding: 15px;
    }
}
