.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background-color: rgba(44, 20, 66, 0.468);

    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes modal-create{
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width: 35%;
        height: 10%;
    }
    100%{
        width: 35%;
        height: 30%;
    }
}

@keyframes button-create{
    0%{
        color: transparent;
        display: none;
    }
    50%{
        color: transparent;
        display: none;
    }
    100%{
        color: #000000;
    }
}

@keyframes text-appear{
    0%{
        color: transparent;
    }
    100%{
        color: #000000;
    }
}


.modalDeleteAll{
    &__holder{
        width: 35%;
        height: 30%;
        background-color: rgba(248, 240, 251, 1);
        box-shadow: 0 0 30px #13243b94;
        border-radius: 50px;

        display: grid;
        grid-template-rows: 20% 60% 20%;
        grid-template-columns: repeat(2, 1fr);
        font-family: 'Raleway', sans-serif;

        animation: modal-create .8s ease-in-out;

        &_img{
            grid-column: 1/3;
            &::after{
                content: url('../images/warn-sign.svg');
                display: block;
                margin: 50px auto;
                height: 100%;
                aspect-ratio: 1/1;
            }
        }

        &_message{
            grid-column: 1/3;
            justify-self: center;
            align-self: center;
            font-size: 24px;
            cursor: default;
            color: transparent;

            text-align: center;
            margin: 0 30px;
            width: 80%;

            animation: text-appear .3s ease-in-out 1s forwards;

            & p{
                margin: 0;
            }

            & p:first-child{
                margin-top: 10px;
            }
        }

        & button{
            display: block;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
            text-transform: capitalize;
            color: transparent;
            cursor: pointer;
            animation: button-create 1.1s ease-in-out forwards;
        }

        &_cancel{
            border-radius: 0 0 0 50px;
            border: none;
            background-color: #acacffa8;
            transition: all .4s ease-in-out;
            // animation: text-appear .3s ease-in-out .7s forwards;
        

            &:hover{
                background-color: #acacffd3;
            }
        }

        &_confirm{
            border-radius: 0 0 50px 0;
            border: none;
            border-left: 1px solid #acacffd3;
            border-top: 1px solid #acacffd3;
            background-color: rgba(248, 240, 251, 1);
            transition: all .4s ease-in-out;

            // animation: text-appear .3s ease-in-out .7s forwards;

            &:hover{
                background-color: #acacffd3;
            }
        }
    }
}