body{
    margin: 0;
    background-color: #acacffbe;
    height: 100vh;
}

.wrapper{
    display: grid;
    grid-template-rows: 11% 89%;
    height: 100%;

    &__header{
        display: grid;
        grid-template-columns: 70% 30%;

        align-items: center;

        box-sizing: border-box;
        padding: 0 41px;
    }

    &__board{
        background-color: rgba(248, 240, 251, 0.404);
        border-radius: 50px 50px 0 0;
        box-shadow: 0 -3px 30px #13243b;
    }
}

@media(max-width: 745px){
    .wrapper{
        grid-template-rows: 15% 85%;
    
        &__header{
            grid-template-columns: 100%;
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

@import url(../styles/header.scss);
@import url(../styles/board.scss);
@import url(../styles/add-column.scss);
@import url(../styles/modals.scss);
@import url(../styles/task-card.scss);

@import url(../styles/color-change.scss);