.task-card{
    height: 180px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.271);

    box-sizing: border-box;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30% 40% 30%;

    &__header{
        grid-column: 1/3;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        &_time{
            grid-column: 2/3;
            width: 44%;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            color: #440f48;

            align-self: center;
            justify-self: center;

            cursor: default;

            display: flex;
            justify-content: space-between;
        }
    }

    // &__description{
    //     grid-column: 1/3;
    //     text-align: top left;
    //     resize: none;
    //     outline: none;

    //     font-family: 'Raleway', sans-serif;
    //     font-size: 18px;

    //     border: 1px solid #fffc;
    //     color: #fffc;
    //     border-radius: 5px;
    //     background-color: transparent;

    //     text-overflow: ellipsis;
    // }
    &__title{
        grid-column: 1/3;
        border-radius: 10px;
        font-size: 24px;
        color: #440f48;

        border: none;
        background-color: transparent;
        font-family: 'Raleway', sans-serif;
        outline: none;

        text-overflow: ellipsis;
    }

    &__footer{
        display: grid;
        grid-column: 1/3;
        grid-template-columns: 60% 40%;
    }
}

input::-webkit-input-placeholder{ 
    color: #440f48;
}

.task-card__header{
    &_buttons button{
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        color: #440f48;
        background-color: transparent;

        box-sizing: border-box;
        padding: 3px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        transition: all .5s ease-in-out;

        &:nth-child(n + 2){
            margin-left: 10px;
        }

        &:hover{
            // box-shadow: 0 0 15px #13243b91;
            background-color: #fffc;
        }
    }
}

.task-card__footer{
    margin-top: 10px;
    &_users{
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.547);
        border-radius: 20px;
        width: 80%;
        height: 100%;

        padding: 0 10px;

        overflow-x: scroll;
        display: flex;
        align-items: center;

        & div{
            min-width: 25px;
            height: 25px;
            background-color: #440f48;
            border-radius: 50%;
            margin-right: 5px;
            background-size: contain;

            &::-webkit-scrollbar{
                width: 0;
            }
        }
    }

    &_colors{
        border: none;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.547);
        color: #440f48;

        box-sizing: border-box;
        padding-bottom: 10px;
        border-radius: 50%;
        width: 30%;
        
        align-self: center;
        justify-self: right;

        cursor: pointer;
        transition: all .4s ease-in-out;

        &:hover{
            background-color: rgba(255, 255, 255, 0.943);
        }
    }
}


.task-card-back-color1{
    background-color: #d3c1e0;
}

.task-card-back-color2{
    background-color: #c4c2e3;
}

.task-card-back-color3{
    background-color: #dfcfc9;
}

.task-card-back-color4{
    background-color: #bfd5c9;
}

.task-card-back-color5{
    background-color: #f4f4d9;
}

.task-card-back-color6{
    background-color: #ffffff;
}


//dnd realization

.placeholder {
    background-color: white;
    margin-bottom: 0.5em;
    width: 100%;
    height: 180px;
}

.emptySectionHiddenLesson {
    background: none;
    border: none;
    width: 100%;
    height: 180px;
}

@import url(../styles/main-form-card.scss);